@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-display: "Syne", sans-serif;
  --color-brand-500: #2563EB;
  --color-surface: #111118;
  --color-border: #1E1E2A;
  --color-danger: #EF4444;
  --color-success: #22C55E;
  --color-warning: #F59E0B;
}

body {
  background-color: #0A0A0F;
  color: #F9FAFB;
}
